<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-logo">
                <a href="/">
                    <img src="assets/images/icon-96x96.png" alt="Mobirise Website Builder" style="height: 3rem;">
                </a>
            </span>
            <span class="navbar-caption-wrap"><a class="navbar-caption text-black display-5" href="/">Cryptomartic Pro </a></span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item dropdown"><a class="nav-link link text-black dropdown-toggle show display-4" data-toggle="dropdown-submenu" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        Services</a><div class="dropdown-menu show" aria-labelledby="dropdown-474" data-bs-popper="none"><a class="text-black dropdown-item display-4" href="/AI-Investment">AI Investing</a><a class="text-black show dropdown-item display-4" href="/long-term-investments">Long term Investment</a><a class="text-black dropdown-item display-4" href="/market-oriented-investments">Market oriented investment<br></a></div></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/investing">Investing</a></li><li class="nav-item"><a class="nav-link link text-black display-4" href="/about">About us</a></li>
                <li class="nav-item"><a class="nav-link link text-black display-4" href="/contact">Contacts</a>
                </li></ul>
            
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="/users/login">Sign in</a> <a class="btn btn-primary display-4" href="/users/register">Get started</a></div>
        </div>
    </div>
</nav>