<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icon-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>AI</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=no3vFh"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=no3vFh" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-uBT0hpIfRy" once="menu" id="menu2-n">
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-uCkrfxjEDZ mbr-fullscreen" id="header6-v">

    

    
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Revolutionizing Investing with AI</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Our AI-driven investment platform leverages cutting-edge machine learning and data science to deliver smarter, more profitable investment strategies for individuals and institutions alike.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Get started</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features25 cid-uCkrdCz6gb" id="features1-u">
    

    
    
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-2 display-2">
                    <strong>Features</strong>
                </h3>
                
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image mb-5 col-12 col-md-3 active">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-help"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Personalization</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">Tailors investment strategies to your unique financial goals and preferences.</p>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-clock"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Real-Time Insights</strong></h5>
                        <p class="card-text mbr-fonts-style mb-0 display-7">Provides 24/7 market monitoring and instant alerts for significant events or opportunities.</p>
                    </div>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-android"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>AI-Driven Portfolio Management</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">Automatically builds and rebalances portfolios based on your goals, risk tolerance, and market conditions.</p>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-android"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Advanced Risk Management</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">Features like stop-loss orders and dynamic asset allocation ensure your investments are safeguarded</p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features12 cid-uCkrhq46cj" id="features12-w">

    

    
    
    <div class="container">
        <div class="m-0 row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2">
                            <strong>AI-Driven Trading</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Our proprietary algorithms combine machine learning, natural language processing (NLP), and deep learning to analyze data and predict market movements.</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Personalized Approach</li>
                                <li>Results-Oriented</li>
                                <li>Community-Driven</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4"><a class="btn btn-primary display-4" href="/users/register">Start trading &gt;</a></div>
                    </div>
                </div>
            </div>
            <div class="p-0 col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-tima-miroshnichenko-7567231-640x960.jpg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-uBT0up6oXw" once="footers" id="footer1-o">

    <% include ./partials/footer %>
</section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>