<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icon-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>mentorship</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=X5BWRg"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=X5BWRg" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-uBT0hpIfRy" once="menu" id="menu2-r">
    
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-uCkrrM80Ly mbr-fullscreen" id="header6-11">

    

    
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>One-on-One Mentorship</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Experience Premium mentorship&nbsp;personalized coaching program designed to help individuals achieve their personal and professional goals.&nbsp;Whether you're looking to advance in your career, start a business, or develop new skills, our mentorship program provides the guidance, resources, and support you need to succeed.</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Get Started</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features25 cid-uCkrsvc5xy" id="features1-12">
    

    
    
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-2 display-2">
                    <strong>Features</strong>
                </h3>
                
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image mb-5 col-12 col-md-3 active">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-opened-folder"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Resource Library</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">Access to a wealth of resources, including templates, guides, and exclusive content.</p>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-users"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>One-on-One Sessions</strong></h5>
                        <p class="card-text mbr-fonts-style mb-0 display-7">Select the theme that suits you. Each theme in the Mobirise
                            site builder contains a set of unique blocks.</p>
                    </div>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-sites"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Customized Action Plan</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">A tailored action plan designed to help you achieve your goals efficiently and effectively.</p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features12 cid-uCkrtfEkWd" id="features12-13">

    

    
    
    <div class="container">
        <div class="m-0 row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Achieve your goals faster.</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Our Premium mentorship program is an investment in your personal and professional growth. We offer various pricing plans to suit different needs and budgets.</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Confidence Building</li>
                                <li>Accountability</li>
                                <li>Accelerated Growth</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4"><a class="btn btn-primary display-4" href="/users/register">Get started &gt;</a></div>
                    </div>
                </div>
            </div>
            <div class="p-0 col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-rdne-8370779-1288x1932.jpg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="pricing2 cid-uCkaj0Zeww" id="pricing2-d">
    

    <div class="row mb-5">
        <div class="col-12">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-2 display-2">
                <strong>Premium mentorship pricing</strong>
            </h3>
            
        </div>
    </div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Monthly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$150</strong></p>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">5-10 spot and futures signals
                                </li><li class="list-group-item">Support for exchanges
                                </li><li class="list-group-item">Weekly DeFi report 
                                </li><li class="list-group-item">Educational content</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Quaterly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$400</strong></p>
                            <p class="price-term mbr-fonts-style mb-3 display-7"><strong>most popular</strong>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">5-10 spot and futures signals
                                </li><li class="list-group-item">Support for exchanges
                                </li><li class="list-group-item">Weekly DeFi report 
                                </li><li class="list-group-item">Educational content</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Biannually</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$700</strong></p>
                          
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">5-10 spot and futures signals
                                </li><li class="list-group-item">Support for exchanges
                                </li><li class="list-group-item">Weekly DeFi report 
                                </li><li class="list-group-item">Educational content</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Yearly</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$1,200</strong></p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">5-10 spot and futures signals
                                </li><li class="list-group-item">Support for exchanges
                                </li><li class="list-group-item">Weekly DeFi report 
                                </li><li class="list-group-item">Educational content</li>
                                <li class="list-group-item">Key news updates</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Lifetime</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$5,000</strong></p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">15+ spot and futures signals
                                </li><li class="list-group-item">Support for exchanges
                                </li><li class="list-group-item">Weekly DeFi report 
                                </li><li class="list-group-item">Educational content</li>
                                <li class="list-group-item">Key news updates</li>
                                <li class="list-group-item">Long term portfolio building</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/register" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-uBT0up6oXw" once="footers" id="footer1-s">

    <% include ./partials/footer %>
</section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>