<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.9.25, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.25, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icon-96x96.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>mentorship</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=X5BWRg"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=X5BWRg" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-uBT0hpIfRy" once="menu" id="menu2-r">
    
    <% include ./partials/nav %>
</section>

<section data-bs-version="5.1" class="header6 cid-uCkrrM80Ly mbr-fullscreen" id="header6-11">

    

    
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Market oriented and driven investment</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">Market-Driven Investing is a dynamic, data-powered approach that adjusts portfolios in real-time based on blindly holding assets without adapting is a recipe for missed opportunities and unnecessary losses..</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Get Started</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features25 cid-uCkrsvc5xy" id="features1-12">
    

    
    
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-2 display-2">
                    <strong>Features</strong>
                </h3>
                
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image mb-5 col-12 col-md-3 active">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-opened-folder"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Adaptive Asset Allocation</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">Instead of locking into a fixed portfolio (e.g., 60% stocks, 40% bonds), MDI continuously rebalances based on real-time conditions.</p>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="card-box">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mbrib-users"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>AI-Powered Predictive Analytics</strong></h5>
                        <p class="card-text mbr-fonts-style mb-0 display-7">Modern algorithms analyze millions of data points, from Fed speeches to satellite images of retail parking lots, to predict market moves before they happen.</p>
                    </div>
                </div>
            </div><div class="item features-without-image mb-5 col-12 col-md-3">
                <div class="item-wrapper align-center">
                    <div class="iconfont-wrapper">
                        <span class="mbr-iconfont mbrib-sites"></span>
                    </div>
                    <h5 class="card-title mbr-fonts-style display-7"><strong>Tactical Risk Management</strong></h5>
                    <p class="card-text mbr-fonts-style mb-0 display-7">MDI doesn’t just chase gains, it actively protects capital with Tail-risk hedging. </p>
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features12 cid-uCkrtfEkWd" id="features12-13">

    

    
    
    <div class="container">
        <div class="m-0 row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Why You Should Switch to Market-Driven Investing Now.</strong></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Unlike traditional investing, which assumes "time in the market beats timing the market," MDI acknowledges that markets move in cycles—and smart investors ride the waves instead of drowning in them.</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Higher risk-adjusted returns</li>
                                <li>Faster adaptation to black swan events </li>
                                <li>Leverage AI & big data </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn mb-4"><a class="btn btn-primary display-4" href="/users/register">Get started &gt;</a></div>
                    </div>
                </div>
            </div>
            <div class="p-0 col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-rdne-8370779-1288x1932.jpg" alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>


<section data-bs-version="5.1" class="footer1 cid-uBT0up6oXw" once="footers" id="footer1-s">

    <% include ./partials/footer %>
</section><script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
<% include ./partials/chat %>
  
</body>
</html>